.howIknow {
    padding: 10px 0 10px 0;
    margin-top: 50px;
    background-color: var(--secondBG);
}

.howIknow__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.howIknow__content {
    margin-top: 30px;
}

.howIknow__block {
    display: flex;
    margin: 10px 0 10px 0;
}

.howIknow__skill-img {
    margin-right: 5px;
    width: 50px;
}

.howIknow__skill-progress-bg {
    padding: 5px;
    width: 100%;
    height: 50px;
    background-color: #97979752;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.howIknow__skill-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2684fd;
    font-weight: bold;
    font-size: 20px;
}
.howIknow__skill-progress-main {
    height: 100%;
    background-color: #adc8ff;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.blender {
    width: 5%;
}
.cpp {
    width: 10%;
}
.c {
    width: 1%;
}
.htmlcss {
    width: 80%;
}
