.footer {
    background-color: #0A0E1A;
    padding: 120px 0 150px 0;
}

.footer__content {}

.footer__info {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.footer__info .logo a img {
    max-width: 150px;
}

.footer__text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #666;
}

.logo__block:last-child {
    margin-top: 20px;
}

.footer__nav {
    display: flex;
    column-gap: 50px;
}

.footer__list {
    display: flex;
    column-gap: 50px;
}

.footer__column {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.footer__item a {
    font-family: var(--fontLF);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #fff;

    transition: color 0.3s;
}

.footer__item a:hover {
    color: #cecece;
}

.footer__logos {
    display: flex;
    gap: 50px;
}

@media(max-width: 700px) {
    .footer__info {
        flex-direction: column;
    }
}
@media(max-width: 600px) {
    .footer {
        padding: 70px 0;
    }
}

@media(max-width: 450px) {
    .footer__logos {
        flex-direction: column;
    }
}