.footer {
    background-color: #0A0E1A;
    padding: 120px 0 150px 0;
}

.footer__content {}

.footer__info {
    display: flex;
    gap: 25px;
}

.footer__info .logo a img {
    max-width: 150px;
}

.footer__text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #666;
}

.logo__block:last-child {
    margin-top: 20px;
}

@media(max-width: 700px) {
    .footer__info {
        flex-direction: column;
    }
}
@media(max-width: 600px) {
    .footer {
        padding: 70px 0;
    }
}
