.header {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: var(--secondBG);
    border-bottom: 2px var(--headerBorder) solid;
    border-left: 2px var(--headerBorder) solid;
    border-right: 2px var(--headerBorder) solid;
    border-radius: 0 0 5px 5px;
}

.header a {
    color: var(--headerLink);
    text-transform: uppercase;
    font-size: 20px;
}

.header-container {
    max-width: 700px;
    margin: 0 auto;
}

.header__current a {
    color: var(--headerUnavalible);
    cursor: not-allowed;
}

.separator {
    margin: 0 8px;
}